html {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
}
h1 {
color: white;
font-size: 50px;
}
h2 {
  color: white;
  font-size: 42px;
}
.link{
color: Aquamarine;
font-size: 16px;
}
.bottom {
color: Gray;
}
.description {
  color: Gray;
  font-size: 21px;
}
.media{
margin: 50px;
}
